gradio
ollama
mcp[cli]
langchain
langchain-mcp-adapters
langchain-ollama
langgraph
langchain-community
langgraph-swarm
python-dotenv
PyPDF2
python-docx
python-pptx
fastapi
uvicorn
fastapi-mcp
SQLAlchemy
openpyxl
langchain_google_genai
langgraph_supervisor
